@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}
.signup_container{
    width: 80%;
    margin: 0 auto;
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SignUp {
    /* margin-left: 500px; */

    margin-top: 50px;
    padding: 75px 50px;
    background: rgb(255, 255, 255);
    box-shadow: 0 15px 80px rgba(0,0 ,0, 0.1);
    max-width: 500px;
    align-items: center;
    justify-content: center;
    /* border:2px solid blue */

}
.titleText{
    color: black;
    font-size: 2em;
    font-weight: 300;
}
.titleText span{
    color: #ff0101;
    font-size: 1.5em;
    font-weight: 700;
}
/* .title{
    display: flex;
    align-items: center;
    flex-direction: column;
} */
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.SignUp h4{
    color: black;
    font-size: 1.2em;
    margin-bottom: 3px;
    font-weight: 450;
}
.SignUp .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.SignUp .inputBox button{
    width: 100%;
    border: 1px solid #555;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.SignUp .inputBox button[type="submit"]{
    font-size: 1em;
    color: white;
    background: #ff0101;
    display: inline;
    padding: 10px;
    margin-left: 0px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    cursor: pointer;
}

.SignUp .inputBox button[type="submit"]:hover{
    letter-spacing: 5px;
}